.content-header
    .container-fluid
        .row.mb-2

            .col-sm-6
                h1.m-0
                    if (breadcrumb)
                        small
                            if (breadcrumb.length > 0)
                                a(href=breadcrumb[breadcrumb.length - 1].url)
                                    i.fa.fa-chevron-circle-left
                            else
                                a(href="/")
                                    i.fa.fa-chevron-circle-left
                        | 
                    = title
                    if (subtitle)
                        small.text-muted
                            | 
                            | ·
                            | 
                            = subtitle

            if (breadcrumb)
                .col-sm-6
                    ol.breadcrumb.float-sm-right
                        li.breadcrumb-item
                            a(href='/') Dashboard
                        each bc in breadcrumb
                            li.breadcrumb-item
                                a(href=bc.url)
                                    = bc.title
                        li.breadcrumb-item
                            = title

