head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  title= (title ? title + ' · ' : '') + "EngineMQ Broker"
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css?v=' + appVersion type='text/css')
  link(rel='stylesheet' href='/assets/bootstrap-icons/bootstrap-icons.css?v=' + appVersion type='text/css')
  link(rel='stylesheet' href='/assets/plugins/sweetalert2/sweetalert2.min.css?v=' + appVersion type='text/css')

  link(rel='stylesheet' href='/public/css/common.css?v=' + appVersion type='text/css')
