nav.main-header.navbar.navbar-expand.navbar-dark
    ul.navbar-nav
        li.nav-item
            a.nav-link(data-widget="pushmenu" href="#" role="button")
                i.fas.fa-bars
    ul.navbar-nav.ml-auto
        li.nav-item
            .nav-link
                input(type="checkbox" onchange="reloadContentWrapper(true);")#auto-refresh
                | 
                | Auto refresh
        li.nav-item
            a.nav-link(data-widget="navbar-search" href="#" role="button")
                i.fas.fa-search
            .navbar-search-block
                form.form-inline
                    .input-group.input-group-sm
                        input.form-control.form-control-navbar(type="search" placeholder="Search" aria-label="Search")
                        .input-group-append
                            button.btn.btn-navbar(type="submit")
                                i.fas.fa-search
                            button.btn.btn-navbar(type="button" data-widget="navbar-search")
                                i.fas.fa-times
        li.nav-item.dropdown#uiNotifications
            - var uiNotifications = getUiNotifications()
            a.nav-link(data-toggle="dropdown" href="#")
                i.far.fa-bell
                if (uiNotifications.length)
                    span.badge.navbar-badge(class='badge-' + uiNotifications[0].iconClass)
                        = uiNotifications.length
            .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
                each uiNotification in uiNotifications
                    a.dropdown-item(href="/logs")
                        if (uiNotification.icon)
                            i.fa.fa-fw(class=uiNotification.icon class='text-' + uiNotification.iconClass)
                        | 
                        = uiNotification.itemCount
                        | 
                        = uiNotification.level
        li.nav-item
            a.nav-link(data-widget="fullscreen" href="#" role="button")
                i.fas.fa-expand-arrows-alt

script(type='text/javascript').
    function reloadContentWrapper(automode) {
        const isChecked = $("#auto-refresh").is(':checked');
        if (isChecked || !automode)
            $("#content-wrapper").load(location.href + " #content-wrapper > *", function () {
                if ($("#uiNotifications").hasClass('show')) {
                    if (automode && isChecked)
                        setTimeout(reloadContentWrapper, 1000, true);
                }
                else
                    $("#uiNotifications").load(location.href + " #uiNotifications > *", function () {
                        if (automode && isChecked)
                            setTimeout(reloadContentWrapper, 1000, true);
                    });
            });
    }
