script(src='/assets/plugins/jquery/jquery.js?v=' + appVersion)
script(src='/assets/plugins/popper/umd/popper.min.js?v=' + appVersion)
script(src='/assets/plugins/bootstrap/js/bootstrap.bundle.min.js?v=' + appVersion)
script(src='/assets/plugins/sweetalert2/sweetalert2.all.min.js?v=' + appVersion)

script(src='/public/js/common.js?v=' + appVersion)
