aside.main-sidebar.sidebar-dark-primary.elevation-4
    a.brand-link(href="/")
        img.brand-image.img-circle.elevation-3(src="/public/logo.png" alt="EngineMQ" style="opacity: .8")
        span.brand-text.font-weight-light EngineMQ
    .sidebar
        nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget="treeview" role="menu" data-accordion="false")
                li.nav-item
                    a.nav-link(href="/")
                        i.nav-icon.fas.fa-tachometer-alt
                        p Dashboard

                li.nav-header View

                li.nav-item
                    a.nav-link(href="/topic")
                        i.nav-icon.fa.fa-project-diagram
                        p Topics
                li.nav-item
                    a.nav-link(href="/client")
                        i.nav-icon.fas.fa-network-wired
                        p Clients

                li.nav-header Settings

                li.nav-item
                    a.nav-link(href="/setting")
                        i.nav-icon.fas.fa-wrench
                        p System settings
