doctype html
html(lang="en")
  include include/head.pug
  body.hold-transition.dark-mode.sidebar-mini.layout-fixed.layout-navbar-fixed
    .wrapper
      include include/navbar.pug
      include include/sidebar.pug
      .content-wrapper
        include include/contentheader.pug
        section.content
          .container-fluid
            block content
      include include/footer.pug
    include include/scripts.pug
