extends _base
block content
    .row
        .col-12
            .card

                .card-body.table-responsive.p-0
                    table.table.table-hover.text-nowrap
                        thead
                            tr
                                th Client ID
                                th Live topics
                                th Address
                                th Age
                        tbody
                            each client in clients
                                tr
                                    td
                                        h5 
                                            a(href='/client/' + client.uniqueId)
                                                = client.clientId
                                    td
                                        if (client.topics)
                                            each topic in client.topics
                                                a(href='/topic/' + topic)
                                                    = topic
                                    td
                                        = client.address
                                    td
                                        = client.stat.ageHuman
