extends _base
block content
    form#router
        input(type='hidden' name='resourceId' value=resourceId)
        .row
            .col-md-6 
                .form-group
                    label(for='description') Router description
                    input.form-control#description(type='text' name='description' value=router.description placeholder='Description of router')
                .form-group
                    label(for='topic') Source topic
                    input.form-control#topic(type='text' name='topic' value=router.topic placeholder='Topic you are listening to')
        .row
            .col-md-6 
                .form-group
                    label Copy to topics
                    textarea.form-control(rows='5' name='copyTo' placeholder='One or more topics to which to copy messages (one per line)')
                        if (router.copyTo)
                            if (Array.isArray(router.copyTo))
                                each copyTo of router.copyTo
                                    = copyTo
                                    = newline
                            else
                                = router.copyTo

            .col-md-6 
                .form-group
                    label Move to topics
                    textarea.form-control(rows='5' name='moveTo' placeholder='One or more topics to which to move messages (one per line)')
                        if (router.moveTo)
                            if (Array.isArray(router.moveTo))
                                each moveTo of router.moveTo
                                    = moveTo
                                    = newline
                            else
                                = router.moveTo
        .row
            .col-md-12
                a.btn.btn-success(href='#' onclick='updateRouter()')
                    | Save
                if (resourceId)
                    .float-right.small
                        | Resource ID: 
                        | #
                        = resourceId

    script(type='text/javascript').
        $(function() {
            setTimeout(() => { $('#description').focus() }, 100);
        });

        function updateRouter()
        {
            const formData = $('#router').serialize();
            $.post("/resources/routers/update", formData)
            .done(function() {
                window.location.href = '/resources/routers';
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                const error = JSON.parse(jqXHR.responseText);
                toastr.error(error.message, errorThrown);
            });        
        }
