extends _base
block content

    center
        .mermaid
            != mermaid

    script(src="/assets/mermaid/mermaid.min.js?v=" + appVersion)
    script(type='text/javascript').
        mermaid.initialize({ startOnLoad: true });
