extends ../_base
block content
    .row
        .col-md-6
            .btn-group(role='group')
                .dropdown
                    a.btn.btn-info.dropdown-toggle#dropdownMenuNew(href='#' role='button' data-toggle='dropdown')
                        i.fa.fa-plus
                        | 
                        | New
                        | 
                    .dropdown-menu(aria-labelledby='dropdownMenuNew')
                        a.dropdown-item(href='/resources/routers/new')
                            i.fa.fa-route
                            | 
                            | Router
                        a.dropdown-item(href='/resources/validators/new')
                            i.fa.fa-check-double
                            | 
                            | Validator
                a.btn.btn-default.fileup-btn(href='#')
                    i.fa.fa-upload
                    | 
                    | Import from yaml
                    input#upload-yaml(type='file')
        .col-md-6
            .float-right
                .btn-group(role='group')
                    a.btn.btn-default(href='/resources/yaml')
                        i.fa.fa-download
                        | 
                        | Export all resources to yaml
                    button.btn.btn-danger(href='#' onclick='deleteAllResource()')
                        i.fa.fa-times
                        | 
                        | Delete all resources

    .row
        .col-md-11.offset-md-1
            include resourceGroupListRouter.pug
            include resourceGroupListValidator.pug

    script(type='text/javascript').
        function deleteAllResource()
        {
            Swal.fire({
                title: 'Delete all resources',
                text: `Do you want to delete all resources?`,
                confirmButtonText: 'Delete all',
                showCancelButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post("/resources/delete/all")
                    .done(function() {
                        window.location.reload();
                    })
                    .fail(function(jqXHR, textStatus, errorThrown) {
                        toastr.error(errorThrown, 'Error');
                    });        
                }
            })
        }

        $(function() {
            $.fileup({
                url: '/resources/upload/yaml',
                inputID: 'upload-yaml',
                queueID: 'notused',
                autostart: true,
                fieldName: 'resourceYaml',
                sizeLimit: 1 * 1000 * 1000,
                filesLimit: 1,
                onSuccess: function(response, file_number, file) {
                    window.location.reload();
                },
                onError: function(event, file, file_number, responseText) {
                    const response = JSON.parse(responseText);
                    toastr.error(response.message, 'Error');
                },
            });
        });        
