hr

h4
    | Routers
    | 
    if (resources.routers.length)
        a.btn.btn-default.btn-sm(href='/resources/routers/map')
            i.fa.fa-map
            | 
            | Show routers in map
        .float-right
            .btn-group(role='group')
                a.btn.btn-default.btn-xs(href='/resources/routers/yaml')
                    i.fa.fa-download
                    | 
                    | Export all routers to yaml
                button.btn.btn-default.btn-xs(href='#' onclick='deleteAllRouter()')
                    i.fa.fa-times
                    | 
                    | Delete all routers
.row
    if (!resources.routers.length)
        .col-md-12
            center
                h4
                    i.fa.fa-route
                    | 
                    | No router
                a.btn.btn-info.btn-xs(href='/resources/routers/new')
                    i.fa.fa-plus
                    | 
                    | Create first router
    each router in resources.routers
        .col-md-4
            .card.card-primary
                .card-header
                    h3.card-title
                        Primary
                            a(href='/resources/router/' + router.resourceId)
                                = router.description
                                small
                                    br
                                    | #
                                    = router.resourceId
                    .card-tools
                        .btn-group(role='group')
                            a.btn.btn-secondary.btn-xs(href='/resources/routers/copy/' + router.resourceId title='Copy')
                                i.fa.fa-copy.fa-fw(title='Copy')
                            a.btn.btn-secondary.btn-xs(href='/resources/router/' + router.resourceId + '/yaml' title='Export to yaml')
                                i.fa.fa-download.fa-fw
                            button.btn.btn-warning.btn-xs(href='#' onclick='deleteRouter("' + router.resourceId + '", "' + router.description + '")' title='Delete')
                                i.fa.fa-times.fa-fw
                .card-body
                    if (router.badges.length)
                        .float-right
                            each badge of router.badges
                                span.badge.pull-right(class='badge-' + badge.style)
                                    = badge.text
                    each detail of router.details
                        = detail
                        br
script(type='text/javascript').
    function deleteRouter(resourceId, description)
    {
        Swal.fire({
            title: 'Delete router',
            text: `Do you want to delete '${description}' router?`,
            confirmButtonText: 'Delete',
            showCancelButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                $.post("/resources/routers/delete", { resourceId })
                .done(function() {
                    window.location.reload();
                })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    toastr.error(errorThrown, 'Error');
                });        
            }
        })
    }

    function deleteAllRouter()
    {
        Swal.fire({
            title: 'Delete all routers',
            text: `Do you want to delete all routers?`,
            confirmButtonText: 'Delete all',
            showCancelButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                $.post("/resources/routers/delete/all")
                .done(function() {
                    window.location.reload();
                })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    toastr.error(errorThrown, 'Error');
                });        
            }
        })
    }
